<section class="products-page main-space">

    <app-breadcrumb></app-breadcrumb>

    <div class="content">

        <app-products-sidebar></app-products-sidebar>

        <div class="products-grid">

            @if (loading()) {
            <p>Loading...</p>
            }

            @else if (errorMessage()) {
            <p>{{ errorMessage() }}</p>
            }

            @else {

            <div class="products-grid">
                @for (product of products(); track product.id) {

                <app-product-card [product]="product">
                </app-product-card>
                }
            </div>

            }
        </div>

    </div>

    <app-pagination [currentPage]="currentPage()" [totalPages]="totalPages()" (pageChange)="changePage($event)">
    </app-pagination>
</section>