<header class="header">
    <div class="container">

        <div class="left-section">

            <a class="logo" routerLink="/products">
                <img src="/images/Logomark.png" alt="ClickTik Logo">
                <span>ClickTik</span>
            </a>
            @if (isLoggedIn()) {
            <a class="home-link" routerLink="/products">
                Products
            </a>
            }
        </div>

        <nav class="nav" [class.open]="menuOpen()">

            <div class="container">
                @if (isLoggedIn()) {
                <div class="right-section">

                    <app-input placeholder="Search" [(value)]="search" (valueChanged)="onSearch($event)">
                        <img startIcon src="/images/search.png" alt="Search">
                    </app-input>

                    <button class="cart-btn" (click)="closeMenu()">
                        <img src="/images/cart.png" alt="cart">
                        <span class="badge">{{ cartCount() }}</span>
                    </button>

                    <button type="button" class="logout-btn home-link" (click)="logout()">
                        Logout
                    </button>

                </div>
                }
            </div>

        </nav>
        
        @if (isLoggedIn()) {
        <button type="button" class="menu-btn" (click)="toggleMenu()" aria-label="Toggle menu">
            ☰
        </button>
        }
    </div>
</header>